{
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended",
        "plugin:react/recommended",
        "react-app",
        "react-app/jest",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "plugins": [
        "react",
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "no-console": 1,
        "quotes": [ 2, "single" ],
        "jsx-quotes": [ 2, "prefer-double"],
        "max-len": [ 1, {"code": 120}],
        "import/order": [ 2,
        {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index",
                    "object",
                    "type"
                ],
                "newlines-between": "always-and-inside-groups"
            }
        ]
    },
    "ignorePatterns": [".eslintrc"]
}