{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "no-console": 1,
        "quotes": [2, "single"],
        "jsx-quotes": [2, "prefer-double"],
        "max-len": [
            1, {"code": 100}
        ]
    }
}