$search-form-bgcolor: #eee;
$btn-color: #555;

@mixin buttonHover () {
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

@mixin customPadding ($p-block, $p-inline, $m-right) {
    font-size: 18px;

    padding-block: $p-block;
    padding-inline: $p-inline;
    margin-right: $m-right;
}

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
   
    width: 96.9%;
    z-index: 100;
    padding-top: 15px;
    padding-inline: 30px;

    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: 10px 10px 40px 1px #d1d1d1;
    border: 1px solid inherit;

    .navbar-search-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 10px;

        .navbar-search {
            display: flex;
            align-items: center;

            .navbar_logo {
                margin-right: 20px;
            }

            .navbar-search-container {
                position: relative;

                .search-form {
                    position: relative;

                    display: flex;
                    align-items: center;

                    .search-form__button {
                        position: absolute;
                        top: 27%;
                        left: 1.5%;

                        font-size: 19px;

                        border: 0;
                        color: $btn-color;
                        background-color: inherit;

                        &:hover {
                            @include buttonHover()
                        }
                    }

                    .search-form__input {
                        width: 900px;

                        border-radius: 24px;
                        border: inherit;
                        background-color: $search-form-bgcolor;

                        @include customPadding(12px, 48px, 15px);

                        &:focus {
                            background-color: white;
                        }
                    }
                }

                @import './dropDownStyle/searchDropdown.scss';
            }


            .navbar-search__btns {
                margin-left: 32px;

                .navbar-search__btn {
                    font-weight: 400;
                    text-decoration: none;
                    color: $btn-color;

                    @include customPadding(10px, 5px, 15px);

                    &:hover {
                        @include buttonHover()
                    }
                }
            }
        }

        .navbar-client__btns {
            display: flex;
            align-items: center;
            padding-inline: 15px;

            .navbar-client__avatar {
                position: relative;
                @import "./dropDownStyle/clientDropdown.scss";
            }

            .navbar-client__hamburger {
                position: relative;
                @import "./dropDownStyle/hamburgerDropdown.scss";
            }

            .navbar-client__submit-btn {
                background-color: inherit;
                color: $btn-color;

                border-width: 0.5px;
                @include customPadding(5px, 15px, 10px);

                &:hover {
                    @include buttonHover()
                }
            }

            .navbar-client__btn {
                border: 0;
                background-color: inherit;

                font-size: 30px;
                margin-top: 5px;
                margin-right: 10px;
                color: $btn-color;

                &:hover {
                    @include buttonHover()
                }
            }
        }

        .logout__btn {
            @include customPadding(5px, 20px, 10px);

            color: $btn-color;
            background-color: inherit;

            border-width: 0.5px;

            &:hover {
                @include buttonHover();
                border-color: black;
                background-color: rgb(255, 219, 219);
            }
        }

        .login__btn {
            text-decoration: none;
            font-size: 18px;
            border: solid;

            @include customPadding(5px, 20px, 15px);

            color: $btn-color;
            background-color: inherit;
            border-width: 0.5px;

            &:hover {
                @include buttonHover();
                border-color: black;
                background-color: rgb(200, 255, 200);
            }
        }
    }

    .topics {
        display: flex;
        align-items: center;
        @import '../styles/Topics.scss';
    }
}