.cards {
    margin-inline: auto;
    margin-top: 60px;

    max-width: 85%;

    .photo-grid {
        width: 100%;

        display: flex;
        width: auto;

        .photo-grid__column {
            background-clip: padding-box;
        }

        .photo {
            margin: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}