@mixin topics-btn ($mr) {
    text-decoration: none;
    color: #555;
    font-size: 18px;
    min-width: max-content;

    display: inline-block;
    padding-block: 23px;
    margin-right: 25px;
    border-bottom: 3px solid white;

    &:hover {
        color: black;
        transition: 0.3s;
    }

    &.active {
        color: black;
        border-bottom: 3px solid black;
    }

    &:last-child {
        margin-right: $mr;
    }
}

@mixin arrow-icon ($top, $left, $right, $bottom) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;

    color: #555;
    font-size: 1.2rem;
    cursor: pointer;
    background: white;
    box-shadow: 20px 2px 20px 35px white;

    &:hover {
        color: black;
        transition: 0.3s;
    }
}

.topics-editior {
    display: flex;

    .topics-editior__btn {
        @include topics-btn(0);
    }
}

.topics-line {
    border-left: 1.5px solid #d1d1d1;
    height: 42px;
    margin-inline: 20px;
}

.topics-list {
    flex: 1;
    display: flex;
    max-width: 90%;
    position: relative;

    .topics-list__container {
        display: flex;
        align-items: center;
        width: max-content;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-right: 1rem;

        .topics-list__btn {
            @include topics-btn(25px);
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .topics-list__arrows {
        
        .topics-list-icon__left {
            @include arrow-icon(36%, 0, 0, 10%);
        }

        .topics-list-icon__right {
            @include arrow-icon(36%, 97%, 0, 10%)
        }
    }
}