$btn-color: #555;

@mixin hamburger-btns {
    text-decoration: none;
    font-size: 17px;

    color: $btn-color;

    padding: 11px 40px;

    &:hover {
        cursor: pointer;
        color: black;
        transition: 0.35s;
    }
}

@mixin hamburger-title ($name) {
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: bold;

    .#{$name} {
        padding-right: 10px;
        width: 30px;
        height: 30px;
    }
}

.hamburger-dropdown {
    position: absolute;
    right: 5%;
    top: 115%;
    width: max-content;
    height: max-content;
    z-index: 100;

    padding: 20px 32px;

    background-color: white;
    box-shadow: 10px 10px 40px 1px #d1d1d1;
    border: 1px solid #d1d1d1;
    border-radius: 4%;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -2.3%;
        right: 3%;
        width: 17px;
        height: 17px;
        background: #FFFFFF;
        border-right: 1px solid #CAD5E0;
        border-bottom: 1px solid #CAD5E0;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(225deg);
    }

    .hamburger-dropdown-nav {
        display: flex;
        flex-direction: row;


        .hamburger-dropdown-company {
            display: flex;
            flex-direction: column;

            .hamburger-dropdown-company__title {
                @include hamburger-title(company__icon);
            }

            .hamburger-dropdown__btn {
                @include hamburger-btns();
            }
        }

        .hamburger-dropdown-product {
            display: flex;
            flex-direction: column;

            .hamburger-dropdown-product__title {
                @include hamburger-title(product__icon);
            }

            .hamburger-dropdown__btn {
                @include hamburger-btns();
            }
        }

        .hamburger-dropdown-community {
            display: flex;
            flex-direction: column;

            .hamburger-dropdown-community__title {
                @include hamburger-title(community__icon);
            }

            .hamburger-dropdown__btn {
                @include hamburger-btns();
            }
        }
    }

    .hamburger-dropdown__line {
        background: black;
        height: 1px;
        margin: 16px 0;
    }

    .hamburger-dropdown-social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 31px;

        .hamburger-dropdown-social__btn {
            background: inherit;
            border: none;
            margin-inline: 5px;

            .hamburger-dropdown-social__icon {
                color: $btn-color;
                width: 23px;
                height: 23px;

                &:hover {
                    cursor: pointer;
                    color: black;
                    transition: 0.3s;
                }
            }
        }

        .hamburger-dropdown-created {
            font-size: 17px;
            color: $btn-color;
        }
    }
}