.cards {
    margin-inline: auto;
    margin-top: 60px;

    max-width: 85%;

    .photo-grid {

        display: flex;

        .photo-grid__column {
            margin: 10px;

            background-clip: padding-box;
        }

        .photo {
            width: auto;
            height: auto;
            img{
            margin: 10px;

            width: 100%;
            height: auto;
            }
        }
    }
}